*{
    margin: 0;
}
body{
    background-color: #6cdf72;
    color: white;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}
.infor-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
input{
    background-color: #0E522D;
    border-bottom-color: white;
    color: white;
    border: 0px;
    border-radius:5px ;
    padding: 10px;
    font-size: 20px;
}
.infor-container label {
text-align: center;
margin-bottom: 10px;
font-size: 25px;
}
.numcomp-container{
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
}
@media (min-width: 768px) {
    .numcomp-container input{
        display: block;

    }
}
@media (min-width: 377px) {
    .numcomp-container input{
        display: block;

    }
}
.nave-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      background-color: #0E522D;
  }
  .nave-container label{
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
  }
  .numerus-container{
    margin-right: 20px;
  }
  .image-container{
    width: 120px;
    height: 100px;
  }
.lobutone{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newpage{
    background-color:#0E522D ;
border: 0;
font-size: 20px;
padding: 10px;
border-radius: 5px;
}
.voltar{
    background-color:#6cdf72 ;
    border: 0;
    height: 40px;
font-size: 20px;
padding: 10px;
margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: white;
}
label{
    cursor: pointer;
}
a:hover{
    background-color: black;
    transition: 0.5s ease-in-out;  
  }
  