:root{
 --main-clara:#6cdf72 ;
 --main-branco: #ffff;
}
*{
    margin: 0;
}
body{
    background-color: var(--main-clara);
}
.nave-container{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0E522D;
}
.image-container{
  width: 120px;
  height: 100px;
}
.forms{
    text-align: center;
}
h1{
    display: block;
    color: var(--main-branco);
}
.AnoCurso-container {
    text-align: center;
  }
  
  h3, select {
    display: block;
   text-align: center;
    margin: 0 auto;
  }
.selecione-container{
    display: flex;
  flex-direction: column;
  align-items: center;
    
}
.selecione-container{
  border-radius: 5px;
}
button{
  background-color: #0E522D;
  color: white;
  font-size: 20px;
  border-radius: 5px;

}
a{
    text-decoration: none;
    color: white;
}
b
