:root{
  --main-clara: #147a3e;
  --main-branco: #ffff;
  --main-escuro: #0E522d;
  --hover-preto: #0000000
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--main-clara);
}
.main_content{
  background-color: var(--main-clara);
}
.nave-container{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #147a3e;
    margin-bottom: 20px;
}
.image-container{
  width: 120px;
  height: 100px;
}
.h-container{
  background-color:  #147a3e;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 auto 20px auto;
  align-items: center;
  border-radius: 5px;
}
.button{
  background-color: var(--main-escuro);
}
.curso{
  background-color: var(--main-escuro);
  padding: 20px;
}
.vertical-text{
  color: var(--main-branco);
}
.centro-container{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.forms{
  text-align: center;
}

h1{
  display: block;
  color: var(--main-branco);
}

.selecione-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.curso{
  background-color: #0E522d;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 0; /* Remover padding do botão para que o link ocupe todo o espaço */
  border: 0;
  width: 100%;
  max-width: 300px; /* Limita a largura máxima para botões em dispositivos maiores */
  margin: 10px 0; /* Espaçamento vertical entre os botões */
  overflow: hidden; /* Garante que o conteúdo do botão não extrapole seus limites */
  height: 60px; /* Altura fixa */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.curso:hover{
  background-color: black;
  transition: 0.5s ease-in-out;
}

.curso a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0; /* Remover padding do link para centralizar o conteúdo */
  text-decoration: none;
  color: white;
}

button svg {
  height: 50%; /* Faz o SVG ocupar toda a altura do contêiner */
  width: auto;
  margin-right: 10px; 
}
@media screen and (max-width: 453px) {
  .selecione-container {
      margin: 0 20px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 20px;
  }
  .sela{
    font-size: 25px;
  }
}
@media screen and (max-width: 332px) {
  .sela{
    font-size: 15px;
  }
}
p{
  font-size: 30px;
}
.otexto-container{
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  font-size: 25px;
  margin-right: 20px;
  margin-left: 20px;
}
.losbutones{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.irpara_a:hover{
  background-color: black;
  transition: 1s;
}
.irpara_a{
  background-color: var(--main-escuro);
  border: 0;
  font-size: 20px;
  border-radius: 5px  ;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  p {
      font-size:3s5px ;
  }
  img{
      width: 100%;
  }
}
.irpara_b{
  background-color: var(--main-escuro);
  border: 0;
  height: 40px;
  font-size: 20px;
  padding: 10px;

}
a{
  text-decoration: none;
  color: white;
}
p{
  font-size: 30px;
}
.texto-container{
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  font-size: 25px;
  margin-right: 20px;
  margin-left: 20px;
}
.lobutone{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.irpara_c{
  background-color:var(--main-escuro) ;
border: 0;
font-size: 20px;
padding: 10px;
border-radius: 5px;
}
.irpara_c:hover{
  background-color: black;
  transition: 1s;
}
.irpara_d{
background-color: var(--main-escuro);
  border: 0;
  height: 40px;
font-size: 20px;
padding: 10px;
border-radius: 5px;
}
a{
  text-decoration: none;
  color: white;
}
p{
  font-size: 30px;
  padding: 20px;
  padding-right: 20px;
}
.texto-container{
  text-align: center;
  vertical-align: middle;
  margin-bottom:20px ;
}
.lobutone{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.irpara_c{
  background-color: var(--main-escuro);
border: 0;
font-size: 20px;
padding: 10px;
border-radius: 5px;
}
.irpara_c:hover{
  background-color: black;
  transition: 1s;
}
.irpara_d{
background-color: var(--main-escuro);
  border: 0;
  height: 40px;
font-size: 20px;
padding: 10px;
border-radius: 5px;
}
a{
  text-decoration: none;
  color: white;
}
.h-container{
  background-color:  #147a3e;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  margin: 20px auto 20px auto;
  align-items: center;
  border-radius: 5px;
}
.centro-container{
  text-align: center;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 30px;
}
.texto-container{
  text-align: center;
  vertical-align: middle;
  margin-bottom:20px ;
  margin-right: 20px;
  margin-left: 20px;
}
.lobutone{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.irpara_g{
  background-color: var(--main-escuro) ;
border: 0;
font-size: 20px;
padding: 10px;
border-radius: 5px;
}
.irpara_g:hover{
background-color: black;
transition: 1s;
}
.irpara_h{
  background-color:var(--main-escuro) ;
  border: 0;
  height: 40px;
font-size: 20px;
padding: 10px;
border-radius: 5px;
}
a{
  text-decoration: none;
  color: white;
}

.forms {
  text-align: center;
}

h1 {
  margin-: 20px;
  display: block;
  color: var(--main-branco);
  margin-bottom: 20px;

}

.AnoCurso-container {
  text-align: center;
}

h3, select {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.selecione-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.selecione-container {
  border-radius: 5px;
}

button {
  background-color: #147a3e;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 20px;
  border: 0;
  width: 100%;
  max-width: 300px; /* Limita a largura máxima para botões em dispositivos maiores */
  margin: 10px 0; /* Espaçamento vertical entre os botões */
}
.final-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.finalizar{
  margin: 0 auto;
  background-color: grey;
  cursor: pointer;
  display: inline-block;
  margin-bottom:20px ;
}
a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .selecione-container {
      margin: 0 20px;
      justify-content: center;
      align-items: center;
      display: flex;
  }
}
.back-container{
  display: block;
  justify-content: center;
  align-items: center;s
  margin-top: 10px;
  margin: auto;
  margin-bottom: 10px;

}
/* @media (min-width: 377px)and(max-width: 768px) {
  .selecione-container {
      margin: 0 20px;
      justify-content: center;
      align-items: center;
      display: flex;
  }
} */
@media screen and (max-width: 453px) {
  .selecione-container {
      margin: 0 20px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 15px;
  }
}
@media screen and (max-width: 453px) {
  button{
      margin-top: 10px;
      margin-bottom: -5px;
  }
  .ultimo{
       background-color: var(--main-escuro);
  }
  .back-container{
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .finalizar{
      margin-top: -45px;
      margin-bottom: 5px;
  }
}
button:hover{
  background-color: black;
  transition: 0.5s ease-in-out;  
}

h1{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-top: 20px;
}
.infor-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
input{
  background-color: #147a3e;
  border-bottom-color: white;
  color: white;
  border: 0px;
  border-radius:5px ;
  padding: 10px;
  font-size: 20px;
}
.infor-container label {
text-align: center;
margin-bottom: 10px;
font-size: 25px;
}
.numcomp-container{
  margin: 0 auto;
  text-align: center;
  display: inline-flex;
  padding: 10px;
  justify-content: center;
}
@media (min-width: 768px) {
  .numcomp-container input{
      display: block;

  }
}
@media (min-width: 377px) {
  .numcomp-container input{
      display: block;

  }
}
.nave-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #147a3e;
}
.nave-container label{
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
}
.numerus-container{
  margin-right: 20px;
}
.image-container{
  width: 120px;
  height: 100px;
}
.lobutone{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newpage{
  background-color:#147a3e ;
border: 0;
font-size: 20px;
padding: 10px;
border-radius: 5px;
}
.voltar{
  background-color:#147a3e ;
  border: 0;
  height: 40px;
font-size: 20px;
padding: 10px;
margin-bottom: 20px;
}
a{
  text-decoration: none;
  color: white;
}
label{
  cursor: pointer;
}
button:hover:{
  background-color: black;
  transition: 0.5s ease-in-out;  
}
button{
  background-color: #147a3e;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 0; /* Remover padding do botão para que o link ocupe todo o espaço */
  border: 0;
  width: 100%;
  max-width: 300px; /* Limita a largura máxima para botões em dispositivos maiores */
  margin: 10px 0; /* Espaçamento vertical entre os botões */
  overflow: hidden; /* Garante que o conteúdo do botão não extrapole seus limites */
}


h3{
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.lobutone{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newpage{
  background-color:#147a3e ;
border: 0;
font-size: 20px;
}
.voltar{
  background-color:#147a3e ;
  border: 0;
  height: 40px;
font-size: 20px;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0; /* Remover padding do link para centralizar o conteúdo */
  text-decoration: none;
  color: white;
}
.repete{
  margin-bottom: 20px;
  cursor: pointer;
}
button{
  background-color: #147a3e;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 0; /* Remover padding do botão para que o link ocupe todo o espaço */
  border: 0;
  width: 100%;
  max-width: 300px; /* Limita a largura máxima para botões em dispositivos maiores */
  margin: 10px 0; /* Espaçamento vertical entre os botões */
  overflow: hidden; /* Garante que o conteúdo do botão não extrapole seus limites */
  height: 50px; /* Altura fixa */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.bottons{
  padding: 20px;
}
.centralized {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; /* Adiciona direção de coluna */
}
.anterior{
  width: 60%; /* Ocupa toda a largura disponível */
  margin-bottom: 20px;
  margin: 0 auto;
}
.great_avises {
  display: flex;
  flex-direction: column; /* Coloca os avisos em coluna */
  align-items: center; /* Centraliza as caixas */
  width: 100%; /* Ocupa toda a largura disponível */
  text-align: center;
}

.caixas_aviso {
  margin: 10px 0; /* Adiciona margem vertical entre as caixas */
  width: 100%; /* Faz com que as caixas ocupem toda a largura */
  flex-direction: column; /* Coloca os avisos em coluna */
  align-items: center; /* Centraliza as caixas */
  width: 60%; /* Ocupa toda a largura disponível */
  text-align: center;
  justify-content: center;
  background-color: #147a3e;
  border-radius: 15px;
  padding: 0px;
}

.textos_aviso {
  justify-content: flex-start; /* Alinha textos à esquerda */
  text-align: left; /* Alinha o texto à esquerda */
  width: 100%; /* Faz com que o texto ocupe toda a largura da caixa */
}
.container {
  position: relative;
  display: flex;
  align-items: center;
}

.photo-button {
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block; /* Para o layout */
}

.photo-button a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  margin-right: 10px;
}
.placeholder {
  display: none; /* Esconde a opção placeholder ao selecionar */
}
.subtopico{
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}