:root {
  --main-clara: #147a3e;
  --main-branco: #fff;
  --main-escuro: #0E522d;
}

* {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-clara);
}
.main_content{
  background-color: var(--main-clara);
}

.nave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--main-clara);
  margin-bottom: 20px;
}

.image-container {
  width: 120px;
  height: 100px;
}

.h-container {
  background-color: var(--main-clara);
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 auto 20px;
  border-radius: 5px;
}

.button, .selecione-container button, .curso {
  background-color: var(--main-escuro);
}

.vertical-text {
  color: var(--main-branco);
}

.centro-container, .forms {
  text-align: center;
}

h1 {
  color: var(--main-branco);
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #0E522d;
}

.selecione-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: var(--main-clara);
}

.curso {
  color: white;
  font-size: 20px;
  border: 0;
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #0E522d;
  transition: background-color 0.5s ease-in-out;
}

.curso:hover {
  background-color: black;
}
.loading_gif{
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20rem;
  width: 20rem;
  margin-top: 20px;
}
.loading_container{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.finalizar,
.back-container {
  margin-top: 20px;
}

.finalizar a,
.back-container a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.finalizar:hover,
.back-container:hover {
  background-color: black;
}

button svg {
  height: 50%;
  width: auto;
  margin-right: 10px;
}

@media screen and (max-width: 453px) {
  .selecione-container {
    margin: 0 20px;
    font-size: 20px;
  }
  .sela {
    font-size: 25px;
  }
}

@media screen and (max-width: 332px) {
  .sela {
    font-size: 15px;
  }
}

p {
  font-size: 30px;
}

.otexto-container {
  text-align: center;
  margin: 0 20px 20px;
  font-size: 25px;
}

.losbutones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.irpara_a {
  background-color: var(--main-escuro);
  border: 0;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
}

.irpara_a:hover {
  background-color: black;
  transition: 1s;
}


@media only screen and (max-width: 600px) {
  p {
    font-size: 35px; /* Corrigido o valor de font-size */
  }
  img {
    width: 100%;
  }
}

* {
  text-decoration: none;
  color: white;
}

p {
  font-size: 30px;
  padding: 20px 20px 0; /* Simplificado */
}

.texto-container {
  text-align: center;
  margin: 0 20px 20px; /* Simplificado */
  font-size: 25px;
}

.lobutone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.irpara_b,
.irpara_c,
.irpara_d,
.irpara_g,
.irpara_h {
  background-color: var(--main-escuro);
  border: 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.irpara_b,
.irpara_d {
  height: 40px;
}

.irpara_c:hover,
.irpara_g:hover,
.irpara_h:hover {
  background-color: black;
  transition: 1s;
}

.h-container {
  background-color: #147a3e;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 5px;
}

.centro-container,
.AnoCurso-container {
  text-align: center;
}

h1 {
  display: block;
  color: var(--main-branco);
  margin: 20px 0;
}

h3,
select {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.selecione-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  border-radius: 5px;
  background-color: var(--main-clara);
}

.forms {
  text-align: center;
}

button {
  background-color: var(--main-escuro);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 20px 0; /* Removido o padding desnecessário */
  border: 0;
  width: 100%;
  max-width: 300px; /* Limita a largura máxima para botões em dispositivos maiores */
  margin: 10px 0; /* Espaçamento vertical entre os botões */
  height: 50px; /* Altura fixa */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que o conteúdo do botão não extrapole seus limites */
}

button:hover {
  background-color: black;
  transition: 0.5s ease-in-out;
}

.final-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.finalizar {
  margin: 0 auto 20px;
  background-color: #0E522d;
  cursor: pointer;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}

.back-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

@media (min-width: 768px) {
  .selecione-container {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 453px) {
  .selecione-container {
    font-size: 15px;
  }

  button {
    margin-top: 10px;
    margin-bottom: -5px;
  }

  .ultimo {
    background-color: var(--main-escuro);
  }

  .back-container {
    margin: 5px auto;
  }

  .finalizar {
    margin-top: -45px;
  }
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.infor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  background-color: #147a3e;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.infor-container label {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.numcomp-container {
  margin: 0 auto;
  text-align: center;
  display: inline-flex;
  padding: 10px;
  justify-content: center;
}

.nave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #147a3e;
}

.nave-container label {
  margin: 0 20px;
  padding: 20px;
}

.image-container {
  width: 120px;
  height: 100px;
}

.lobutone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newpage,
.voltar {
  background-color: #147a3e;
  border: 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.voltar {
  height: 40px;
  margin-bottom: 20px;
}

.label {
  cursor: pointer;
}

.repete {
  margin-bottom: 20px;
  cursor: pointer;
}

.bottons {
  padding: 20px;
}

h3 {
  margin-top: 10px;
  text-align: center;
}

.centralized {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.anterior {
  width: 60%; /* Ocupa toda a largura disponível */
  margin: 0 auto 30px; /* Margem inferior de 30px */
}

.great_avises {
  display: flex;
  flex-direction: column; /* Coloca os avisos em coluna */
  align-items: center; /* Centraliza as caixas */
  width: 100%; /* Ocupa toda a largura disponível */
  text-align: center;
}

.caixas_aviso {
  margin: 10px 0; /* Margem vertical entre as caixas */
  width: 60%; /* Ocupa toda a largura disponível */
  display: flex;
  flex-direction: column; /* Coloca os avisos em coluna */
  align-items: center; /* Centraliza as caixas */
  text-align: center;
  background-color: var(--main-escuro);
  border-radius: 15px;
  padding: 0; /* Padding definido como zero */
}

.textos_aviso {
  width: 100%; /* Faz com que o texto ocupe toda a largura da caixa */
  color: var(--main-branco);
  background-color: var(--main-escuro);
  border-radius: 15px;
  text-align: left; /* Alinha o texto à esquerda */
}

.container {
  position: relative;
  display: flex;
  align-items: center;
}

.photo-button {
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block; /* Para o layout */
}

.photo-button a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  margin-right: 10px;
}

.placeholder {
  display: none; /* Esconde a opção placeholder ao selecionar */
}

.subtopico {
  color: white;
  text-align: center;
}
