:root {
  --main-clara: #6cdf72;
  --main-branco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-clara);
  font-family: Arial, sans-serif;
}

.nave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #0E522D;
}

.image-container {
  width: 120px;
  height: 100px;
}

h1 {
  color: var(--main-branco);
  text-align: center;
}

.selecione-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

button {
  background-color: #0E522D;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 0; /* Remover padding do botão para que o link ocupe todo o espaço */
  border: 0;
  width: 100%;
  max-width: 300px; /* Limita a largura máxima para botões em dispositivos maiores */
  margin: 10px 0; /* Espaçamento vertical entre os botões */
  overflow: hidden; /* Garante que o conteúdo do botão não extrapole seus limites */
}

button a {
  display: block; /* Faz o link ocupar todo o botão */
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 0; /* Espaçamento dentro do link */
  text-decoration: none;
  color: white;
}
a:hover{
  background-color: black;
  color: white;
  transition: 0.3s ease-in;
}