*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
color: white;
}
header{
    background-color: rgb(24, 68, 24);
    margin-bottom:  20px;
    border-style: solid;
}

body{
    background-color: #3fa13f;
}

h2{
    margin-bottom: 20px;
    text-align: center;
}
h3{
  margin-bottom: 5px;
  text-align: center;
}
select{
    margin-top: 10px;
    margin-bottom: 15px;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
select option{
    color: black;
}
.sela{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px ;
    background-color: green;
}
.selecione{
    position: absolute;
    top
}

li{
    list-style: none;
    text-decoration: none;
    padding-right:25px ;
}
a{
    text-align: center;
    text-decoration: none;
}