*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;

}
header{
    padding: 20px;
    background-color: green;
    text-align: center;
    border: solid 5px;
}
section form{
    margin: 20px auto;
    align-items: center;
    text-align: center;
    display: block;
}
img{
    width: 30px;
    height: 30px;
}
